# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
build/
/tmp
/out-tsc
/osbuilds
/.angular
/cypress

# dependencies
**/node_modules
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
.vscode-test/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/settings.json

# misc
/.angular/cache
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
*.log
/typings

# System Files
.DS_Store
Thumbs.db

#Environment
.env.local

# Intellij
.gradle
.qodana
apps/intellij/bin/
.intellijPlatform


# WDIO
**/.wdio-vscode-service
apps/vscode-e2e/.screenshots
**/dist

.angular

.nx/cache
.nx/workspace-data
**/cypress/downloads
migrations.json
