{
  "extends": "stylelint-config-standard",
  "rules": {
      "selector-type-no-unknown": null,
      "at-rule-no-unknown": null,
      "no-descending-specificity": null,
      "font-family-no-missing-generic-family-keyword": null,
      "value-list-comma-newline-after": null,
      "indentation": null,
      "declaration-colon-newline-after": null,
      "color-named": "always-where-possible"
  }
}
