@import 'flex';
@import 'variables';
@import '~vscode-codicons/dist/codicon';

html,
body {
  overflow: hidden !important;
  padding: 0 !important;
  margin: 0 !important;
}

::-webkit-scrollbar {
  width: $scroll-bar-width !important;
}
