/* You can add global styles to this file, and also import other style files */

@import 'variables';
@import 'styles.prod';

::-webkit-scrollbar-thumb {
  background-color: #484950;
}

::-webkit-scrollbar-thumb:hover {
  background-color: lighten(#484950, 10%);
}

::-webkit-scrollbar-thumb:active {
  background-color: lighten(#484950, 20%);
}
