@use 'variables';
@use 'flex';

@include flex.utils;

html,
body {
  overflow: hidden !important;
  margin: 0 !important;
  padding: 0 !important;
}

::-webkit-scrollbar {
  width: variables.$scroll-bar-width !important;
}
