:host {
  display: block;
  height: 100vh;
  overflow: hidden;

  &.vscode {
    height: 125vh;
  }
}

.content-container {
  position: relative;
}

mat-sidenav-container {
  height: 100%;
}

a {
  background: rgba(0, 0, 0, 0) !important;
}

a.active-link {
  background: rgba(0, 0, 0, 0.12) !important;
}
