@import '~@angular/material/theming';
@import '../../../libs/ui/src/lib/variables';

$primary: mat-palette($mat-blue, 700, 100, 800);
$accent: mat-palette($mat-red, 700, 600, 800);
$warn: mat-palette($mat-red);

$theme: mat-light-theme($primary, $accent, $warn);

$custom-typography: mat-typography-config(
  $font-family:
    "-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol"
);

@include mat-core($custom-typography);
@include angular-material-theme($theme);

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  margin: 0;
  padding: 0;
  background: $white;
  overflow: hidden;
}

button.mat-button,
button.mat-raised-button,
button.mat-stroked-button,
button.mat-icon-button {
  line-height: 28px;
  height: 34px;
}

button.mat-icon-button {
  width: 32px;
}

mat-toolbar,
mat-toolbar * {
  line-height: 28px;
}

.mat-list-base .mat-list-item,
.mat-list-base .mat-list-option {
  height: 40px;
  font-size: 14px;
}

mat-toolbar.mat-toolbar-single-row {
  height: 52px;
}

.outlet-container {
  position: relative;
  height: 100%;
}

.outlet-container > :not(router-outlet) {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow-x: hidden;
}

/* Roboto - latin - 300, 400, 500 */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'),
    url(assets/roboto-light.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
    url(assets/roboto-regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'),
    url(assets/roboto-medium.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Mono'), local('RobotoMono-Regular'),
    url(assets/roboto-mono.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* Material Icons Extended */
@font-face {
  font-family: 'Material Icons Extended';
  font-style: normal;
  font-weight: 400;
  src: url(assets/material-icons-extended.woff2) format('woff2');
}

.material-icons-extended {
  font-family: 'Material Icons Extended';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
