name: CI Checks
on:
  push:
    branches:
      - master
  pull_request:

env:
  NX_CLOUD_DISTRIBUTED_EXECUTION: true
  node_version: 16

jobs:
  checks:
    name: Nx Cloud - Main Job
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: ./.github/workflows/setup
        with:
          node_version: ${{ env.node_version }}
      - uses: ./.github/workflows/nx-run

  agents:
    runs-on: ubuntu-latest
    name: Nx Cloud - Agent ${{ matrix.agent }}
    timeout-minutes: 15
    strategy:
      matrix:
        agent: [1, 2, 3]
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: ./.github/workflows/setup
        with:
          node_version: ${{ env.node_version }}
      - name: Start Nx Agent ${{ matrix.agent }}
        run: npx nx-cloud start-agent

  agent:
    runs-on: ubuntu-latest
    name: Nx Cloud - Agent E2E
    timeout-minutes: 15
    steps:
      - name: Debugging with tmate
        uses: mxschmitt/action-tmate@v3.13
      - name: Set nx run variable
        run: echo "NX_RUN_GROUP=run-group-e2e-${{ github.run_id}}-${{ github.run_attempt }}" >> $GITHUB_ENV
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: ./.github/workflows/setup
        with:
          node_version: ${{ env.node_version }}
      - name: Install xvfb
        run: sudo apt-get install -y xvfb
      - name: Start Nx Agent E2E
        run: npx nx-cloud start-agent
      - uses: actions/upload-artifact@v3
        with:
          name: e2e-screenshots
          path: apps/vscode-e2e/.screenshots
          if-no-files-found: ignore
