name: CI Checks
on:
  push:
    branches:
      - master
  pull_request:

env:
  node_version: 20
  NX_CLOUD_ACCESS_TOKEN: ${{ secrets.NX_CLOUD_READ_WRITE_TOKEN }}

jobs:
  main-linux:
    name: Main Linux
    runs-on: ubuntu-latest
    env:
      NX_CI_EXECUTION_ENV: 'linux'
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: nrwl/nx-set-shas@v3
        with:
          main-branch-name: 'master'
      - run: git branch --track master origin/master
        if: ${{ github.event_name == 'pull_request' }}
      - run: npx nx-cloud validate --workflow-file=./.nx/workflows/agents.yaml
      - run: |
          npx nx-cloud start-ci-run --distribute-on="3 linux-medium-js" --with-env-vars="GIT_AUTHOR_EMAIL,GIT_AUTHOR_NAME,GIT_COMMITTER_EMAIL,GIT_COMMITTER_NAME,NX_CI_EXECUTION_ENV"
      - uses: browser-actions/setup-chrome@v1
      - run: chrome --version
      - name: Use Node.js ${{ env.node_version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ env.node_version }}
          check-latest: true
          cache: yarn
      - run: yarn install --immutable
      - name: Workspace Lint
        run: |
          npx nx-cloud record -- npx nx format:check --verbose
          npx nx-cloud record -- ./gradlew ktfmtCheck
        env:
          NX_CLOUD_DISTRIBUTED_EXECUTION: false
      - run: npx nx affected --targets=lint,test,build,e2e-ci --configuration=ci --exclude=nx-console --parallel=3
        timeout-minutes: 45

  main-windows:
    name: Main Windows
    runs-on: windows-latest
    env:
      GIT_AUTHOR_EMAIL: test@test.com
      GIT_AUTHOR_NAME: Test
      GIT_COMMITTER_EMAIL: test@test.com
      GIT_COMMITTER_NAME: Test
      NX_CI_EXECUTION_ENV: 'windows'
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: nrwl/nx-set-shas@v3
        with:
          main-branch-name: 'master'
      - run: git branch --track master origin/master
        if: ${{ github.event_name == 'pull_request' }}
      - run: |
          npx nx-cloud start-ci-run --distribute-on="3 windows-medium-js" --with-env-vars="GIT_AUTHOR_EMAIL,GIT_AUTHOR_NAME,GIT_COMMITTER_EMAIL,GIT_COMMITTER_NAME,NX_CI_EXECUTION_ENV"
      - uses: browser-actions/setup-chrome@v1
      - name: Use Node.js ${{ env.node_version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ env.node_version }}
          check-latest: true
          cache: yarn
      - run: yarn install --immutable
      - name: Gradle Wrapper Validation
        uses: gradle/wrapper-validation-action@v3
      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: zulu
          java-version: 17
          cache: gradle
      # there's no need to check formatting & linting again on windows, sometimes there's a timing issue with intellij:build so run it up front
      - run: npx nx affected --targets="build,test,e2e-ci" --configuration=ci --exclude=nx-console --parallel=3
        timeout-minutes: 45
