name: CI Checks

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  main:
    name: Nx Cloud - Main Job
    uses: nrwl/ci/.github/workflows/nx-cloud-main.yml@v0.6
    with:
      main-branch-name: 'master'
      number-of-agents: 4
      install-commands: 'yarn install --immutable'
      parallel-commands: |
        yarn exec nx-cloud record -- yarn exec nx workspace-lint
        yarn exec nx-cloud record -- yarn exec nx format:check
      parallel-commands-on-agents: |
        yarn exec nx affected --target=lint --parallel=3 --configuration=ci
        yarn exec nx affected --target=test --parallel=3 --configuration=ci
        yarn exec nx affected --target=build --parallel=3 --configuration=ci
        NX_RUN_GROUP=run-group-e2e-${{ github.run_id}}-${{ github.run_attempt }} yarn exec nx run vscode-e2e:e2e:ci

  agents:
    name: Nx Cloud - Agents
    uses: nrwl/ci/.github/workflows/nx-cloud-agents.yml@v0.6
    with:
      install-commands: 'yarn install --immutable'
      number-of-agents: 3

  agent-e2e:
    name: Nx Cloud - Agent E2E
    uses: nrwl/ci/.github/workflows/nx-cloud-agents.yml@v0.6
    with:
      environment-variables: |
        NX_RUN_GROUP=run-group-e2e-${{ github.run_id}}-${{ github.run_attempt }}
      install-commands: 'sudo apt-get install -y xvfb && yarn install --immutable'
      number-of-agents: 1
