name: Test Compatibility with Nx Versions
on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

env:
  node_version: 20
  NX_CLOUD_ACCESS_TOKEN: ${{ secrets.NX_CLOUD_READ_WRITE_TOKEN }}

jobs:
  main-linux:
    name: Main Linux
    runs-on: ubuntu-latest
    env:
      NX_CI_EXECUTION_ENV: 'linux'
      NXLS_E2E_DEFAULT_VERSION: 'next'

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - run: |
          npx nx-cloud start-ci-run --distribute-on="3 linux-medium-js" --with-env-vars="GIT_AUTHOR_EMAIL,GIT_AUTHOR_NAME,GIT_COMMITTER_EMAIL,GIT_COMMITTER_NAME,NX_CI_EXECUTION_ENV, NXLS_E2E_DEFAULT_VERSION"
      - name: Use Node.js ${{ env.node_version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ env.node_version }}
          check-latest: true
          cache: yarn
      - run: yarn install --immutable
      - run: npx nx run nxls-e2e:e2e --parallel=1

  main-windows:
    name: Main Windows
    runs-on: windows-latest
    env:
      GIT_AUTHOR_EMAIL: test@test.com
      GIT_AUTHOR_NAME: Test
      GIT_COMMITTER_EMAIL: test@test.com
      GIT_COMMITTER_NAME: Test
      NX_CI_EXECUTION_ENV: 'windows'
      NXLS_E2E_DEFAULT_VERSION: 'next'
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - run: |
          npx nx-cloud start-ci-run --distribute-on="3 windows-medium-js" --with-env-vars="GIT_AUTHOR_EMAIL,GIT_AUTHOR_NAME,GIT_COMMITTER_EMAIL,GIT_COMMITTER_NAME,NX_CI_EXECUTION_ENV,NXLS_E2E_DEFAULT_VERSION"
      - name: Use Node.js ${{ env.node_version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ env.node_version }}
          check-latest: true
          cache: yarn
      - run: yarn install --immutable
      - run: npx nx run nxls-e2e:e2e --parallel=1
