name: Publish

on:
  push:
    tags:
      - 'v*.*.*'
jobs:
  publish:
    runs-on: ubuntu-latest

    env:
      node_version: 14

    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/workflows/setup
        with:
          node_version: ${{ env.node-version }}
      - name: publish
        run: |
          yarn package
          yarn vsce publish --packagePath dist/apps/vscode/nx-console.vsix -p ${{ secrets.VSCE_PAT }}
          yarn ovsx publish dist/apps/vscode/nx-console.vsix -p ${{ secrets.OVSX_PAT }}
      - name: generate changes
        run: git show CHANGELOG.md | egrep "^\+" | tail +5 | sed -e 's/^\+//' > changelog.txt
      - name: release
        uses: softprops/action-gh-release@v1
        with:
          body_path: changelog.txt
          files: |
            dist/apps/vscode/nx-console.vsix
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VSCE_PAT: ${{ secrets.VSCE_PAT }}
