name: Publish

on:
  push:
    tags:
      - 'v*.*.*'
env:
  NX_CLOUD_DISTRIBUTED_EXECUTION: true
  node_version: 14

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: ./.github/workflows/setup
        with:
          node_version: ${{ env.node_version }}
      - name: publish
        run: |
          yarn package
          yarn vsce publish --packagePath dist/apps/vscode/nx-console.vsix -p ${{ secrets.VSCE_PAT }}
          yarn ovsx publish dist/apps/vscode/nx-console.vsix -p ${{ secrets.OVSX_PAT }}
      - name: release
        uses: softprops/action-gh-release@v1
        with:
          generate_release_notes: true
          files: |
            dist/apps/vscode/nx-console.vsix
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VSCE_PAT: ${{ secrets.VSCE_PAT }}
